{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "corejs": "3.37.1",
          "targets": "> 0.25%, not dead",
          "modules": false
        }
      ]
    ]
  }
  